<%= link_to content_tag(:span, 'Create New Widget'), new_jangle_widget_path, :class => 'big button' %>
<h1>Widgets</h1>

<ul class='list sortable'>
  <%= render :partial => 'index_branch', :collection => @widgets %>
</ul>