<%= link_to span_tag('Create New Page'), new_jangle_page_path, :class => 'big button' %>
<h1>Pages</h1>

<ul class='list sortable'>
  <%= render :partial => 'index_branch', :collection => @jangle_pages %>
</ul>