<%= link_to content_tag(:span, 'Create New Page'), new_jangle_page_path, :class => 'big button' %>
<h1>Pages</h1>

<ul class='list sortable'>
  <%= render :partial => 'index_branch', :collection => @pages %>
</ul>